html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

.contact {
  background-color: #fff;
}

.borderbottom {
  border-bottom: 1px solid #000;
}

.margint {
  margin-top: .95em;
}

@media only screen and (min-width: 60em) {

  .margint {
    margin-top: .85em;
    padding: 0;
  }

}
